@import "../../styles.scss";

#AddNewModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    transition: all 1.3s;
    z-index: 10;
    @include flexbox();
    justify-content: center;
}

#AddNewContainer {
    width: 45vw;
    background-color: #ffffff;
    position: absolute;
    margin: 0;
    top: 5%;
    @include flexbox();
    flex-direction: column;
}

#firstRow {
    width: 100%;
    height: auto;
    @include flexbox();
    justify-content: center;
    flex-direction: row; 
}

#secondRow {
    width: 100%;
    height: auto;
    margin-top: 2em;
    @include flexbox();
    justify-content: center;
    flex-direction: row;
}

//-----------input fields styles 
#InputField {
    width: 30%;
    @include flexbox();
    flex-direction: column;

    label {
        margin-top: 0.5em;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        color: $gris;
    }

    input {
        width: 90%;
        height: 2.5em;
        margin-top: 0.5em;
        border: 1px solid;
        border-color: $borders;
    }
}

.dropdown {
    width: 93%;
    height: 2.5em;
    margin-top: 0.5em;
    border-color: $borders;
}

#LongInputField {
    width: 60%;
    @include flexbox();
    flex-direction: column;

    label {
        margin-top: 0.5em;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        color: $gris;
    }

    input {
        width: 95%;
        height: 6em;
        margin-top: 0.5em;
        border-style: groove;
        border: 1px solid;
        border-color: $borders;
    }
}